.f-forms { 
	.f-forms--number-selector-wrapper {
			display: flex;
			align-items: center;

			i {
				display: inline-flex; 
				height: 30px;
				width: 30px;
				min-width: 30px; 
				background: black;
				position: relative;
				cursor: pointer;
				font-size: 22px;
				justify-content: center;
				margin: 10px 0;
				color: white;
				font-style: inherit;
			}

			.f-forms--number-selector__input {
				width: 60px;
				padding: 6px 20px 6px 20px;
				text-align: center;
				
				border-radius: 0;
				border: 1px solid black;
			}

	}
} 